{{if errmsg:}}
<div class="alert">
  <strong>Warning!</strong> {{=errmsg}}
</div>
{{else:}}
{{use "jqupload"}}
{{use "avalon"}}
{{use 'bootstraptable', extensions = ["cookie"]}}
<div class="form-horizontal" ms-controller="artifact_view" class="ms-controller">
<legend>Artifact detail</legend>
    <dl class="dl-horizontal">
        <dt>id</dt><dd>{%item.id%}</dd>
        <dt>Artifact ID</dt><dd>{%item.aid%}</dd>
        <dt>type</dt><dd>{%item.type_label%}</dd>
        <div ms-visible="item.action_fix">
            <dt>action fix</dt><dd><a href="#confirm_fix" role="button" class="btn btn-danger btn-mini" data-toggle="modal">fix</a></dd>
        </div>
        <div ms-visible="item.action_set_ready">
            <dt>action set ready</dt><dd><button class="btn btn-primary btn-mini" ms-click="action_set_ready">set ready</button></dd>
        </div>
    </dl>

    <div ms-if="item.action_fix" id="confirm_fix" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>confirm to fix</h3>
      </div>
      <div class="modal-body">
        <p>if artifact fixed, you will not able to update it any more, confirm?</p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">cancel</button>
        <button class="btn btn-danger" ms-click="action_fix">confirm to fix</button>
      </div>
    </div>

<legend>Artifact files</legend>
<table id="table_files" data-toggle="table"
    data-toolbar="#tool-bar"
    data-toolbar-align="left"
    data-url="{{=url_for('shapps.linci.artifact.views.Artifact.api_artifactfile_list_bootstraptable_data')}}"
    data-query-params="postQueryParams"
    data-pagination="true"
    data-side-pagination="server"
    data-page-list="[10, 20, 50, 100, 200]"
    data-page-size = "10"
    data-show-columns="true"
    data-method="post"
    data-sort-name="path"
    data-sort-order="asc"
    data-buttons-align='left'>
    <thead>
    <tr>
        <th data-field="id" data-sortable="true">id</th>
        <th data-field="path" data-sortable="true" data-formatter="format_path">path</th>
        <th data-field="size_str" data-sortable="true">size</th>
        <th data-field="udate" data-sortable="true">upload date time</th>
    </tr>
    </thead>
</table>

<span ms-visible="!item.fixed" class="btn btn-success fileinput-button">
    <i class="icon-plus icon-white"></i>
    <span>Select files to upload</span>
    <input id="fileupload" type="file" name="files" multiple>
</span>

</div>

<script>
require(["domReady!"], function() {
    var vm = avalon.define({
        $id : "artifact_view",
        item : {},
        update_item : function(){
            $.ajax({
                type: "POST",
                url: "{{=url_for('shapps.linci.artifact.views.Artifact.api_get')}}",
                data: {id : {{=item.id}}},
                success: function(data){
                    if (data.success) {
                        vm.item = data.item
                    }
                    else {
                        show_message(data.msg,data.success?"success":"error")
                    }
                }
            })
        },
        action_fix : function(){
            $.ajax({
                type: "POST",
                url: "{{=url_for('shapps.linci.artifact.views.Artifact.api_fix')}}",
                data: {id : {{=item.id}}},
                success: function(data){
                    show_message(data.msg,data.success?"success":"error")
                    if (data.success) {
                        $('#confirm_fix').modal('hide')
                        vm.update_item()
                    }
                }
            })
        },
        action_set_ready : function(){
            $.ajax({
                type: "POST",
                url: "{{=url_for('shapps.linci.artifact.views.Artifact.api_set_ready')}}",
                data: {id : {{=item.id}}},
                success: function(data){
                    show_message(data.msg,data.success?"success":"error")
                    if (data.success) {
                        vm.update_item()
                    }
                }
            })
        }
    })
    view_vm = vm
    avalon.scan()
    vm.update_item()

    $('#fileupload').fileupload({
        url: '{{=url_for("shapps.linci.artifact.views.Artifact.api_upload")}}?id={{=item.id}}',
        dataType: 'json',
        done: function (e, data) {
            show_message(data.result.msg)
            $('#table_files').bootstrapTable('refresh')
        },
        error: function (e, msg) {
        }
    });
});
postQueryParams = function(params){
    params['item_id'] = {{=item.id}}
    return params
}
function format_path(value, row){
    link = '{{=url_for('shapps.linci.artifact.views.Artifact.api_artifactfile_download')}}?id=' + row.id
    link = '<a href="' + link + '">' + value +'</a>'
    return link
}
</script>

{{pass}}
