{{use "avalon"}}
{{use "jqcookie"}}
<div ms-controller="sharedir">
<span ms-repeat-el="rpathlist"><a ms-href="#/{%el.rpath%}">{%el.name%}</a> / </span>
<br></br>
<table class="table">
<tr><th>#</th> <th>Name</th> <th>Last modified</th> <th>Size</th></tr>
<tr ms-repeat-el="entries"><td>{%$index%}</td><td><span ms-if="el.isdir"><i ms-class="icon-folder-close"></i>&nbsp<a ms-href="#/{%el.rpath%}">{%el.name%}</a></span><span ms-if="!el.isdir"><i ms-class="icon-file"></i>&nbsp<a ms-href="/sharedir_download/{%dname%}/{%el.rpath%}">{%el.name%}</a></span></td><td>{%el.mtime%}</td><td>{%el.size%}</td></tr>
</table>
<div class="alert alert-info" ms-visible="!entries_full">
Not full list,click <button class="btn btn-info" type="button" ms-click="update_rpath_entries_full">Show all</button> to show full list,but may take long time.
</div>
</div>
<script>
require(["ready!", 'avalon', "mmRouter"], function() {
    var model = avalon.define("sharedir", function(vm){
        vm.dname = "{{=dname}}"
        vm.cookie_name = "sharedir_"+vm.dname
        vm.rpath = ""
        vm.rpathlist = []
        vm.entries = []
        vm.entries_full = true
        vm.first_visit = true
        vm.update_rpath_entries = function(maxnum) {
            maxnum = maxnum || {{=settings.SHAREDIR.entries_maxnum_default}}
            $.ajax({
              type: "GET",
              url: "/api/sharedir/listdir/"+vm.dname+"?rpath="+vm.rpath+"&maxnum="+maxnum,
              success: function(data){
                var entries = data.entries
                var rpathlist = data.rpathlist
                vm.entries = entries
                vm.rpathlist = rpathlist
                vm.entries_full = data.entries_full
                if (!vm.first_visit) {
                    $.cookie(vm.cookie_name,vm.rpath)
                }
                else {
                    vm.first_visit = false
                }
                document.title=vm.dname+"/"+decodeURIComponent(vm.rpath)
              }
            })
        }
        vm.update_rpath_entries_full = function() {
            vm.update_rpath_entries({{=settings.SHAREDIR.entries_maxnum_full}})
        }
        vm.set_rpath = function(rpath){
            if (vm.first_visit) {
                vm.rpath = rpath || $.cookie(model.cookie_name) || ""
            }
            else {
                vm.rpath = rpath || ""
            }
            vm.update_rpath_entries()
        }
    })
    avalon.router.get("/", function(a) {
        model.set_rpath("")
    })
    avalon.router.get("/:rpath", function(a) {
        var rpath_param = this.path.substring(1)
        model.set_rpath(rpath_param)
    })
    avalon.history.start({basepath: "/sharedir/"+model.dname})
    avalon.scan()
})
</script>
