{{extend "LinciJobManager/layout.html"}}

{{block sub_menu}}
{{sidemenu('linci_job_manager','linci_job_list')}}
{{end sub_menu}}

{{block content_main}}
{{use 'bootstraptable', extensions = ["cookie"]}}
<div id ="tool-bar" style="margin-left:8px">
    <a class="btn btn-small btn-primary" href="{{=url_for('shapps.linci.job.manager.views.LinciJobManager.new')}}">New job</a>
</div>
<table id="table" data-toggle="table"
    data-toolbar="#tool-bar"
    data-toolbar-align="left"
    data-url="{{=url_for('shapps.linci.job.manager.views.LinciJobManager.api_list_bootstraptable_data')}}"
    data-pagination="true"
    data-side-pagination="server"
    data-page-list="[10, 20, 50, 100, 200]"
    data-page-size = "10"
    data-show-columns="true"
    data-method="post"
    data-sort-name="id"
    data-sort-order="desc"
    data-buttons-align='right'>
    <thead>
    <tr>
        <th data-field="id" data-sortable="true" data-formatter="format_id">ID</th>
        <th data-field="name" data-sortable="true">name</th>
        <th data-field="scheme" data-sortable="true">scheme</th>
    </tr>
    </thead>
</table>

<script>
function format_id(value, row){
    link = '{{=url_for('shapps.linci.job.manager.views.LinciJobManager.edit')}}?id='+ row.id
    link = '<a href="' + link + '">' + value +'</a>'
    return link
}
</script>

{{end content_main}}
