{{extend 'user_admin_layout.html'}}

{{block sub_menu}}
{{sidemenu('sidemenu','user_admin/ldap_list')}}
{{end}}

{{block content_tool}}
{{end}}

{{block content_main}}
{{use 'jqcookie'}}
{{use 'bootstraptable', extensions = ["cookie"]}}

<div class="control-group">
  <div class="query form-inline" style="text-align: left;margin-bottom: 0px;">
    <label class="search-bar">
      Username: <input type="text" id="sc_username" style="width: 150px;">
    </label>
    <button class="btn" id="query" title="Query">
      <span class="glyphicon glyphicon-search icon-search"></span>
    </button>
  </div>
  <div >
    <div class="span6">
      <div class="control-group form-inline" style="text-align: left; ">
      <table id="table1" data-toggle="table"
            data-toolbar="#tool-bar1"
            data-toolbar-align="left"
            data-url="{{=url_for('shapps.auth.ldap_admin.views.LdapAdmin.api_get_database_userdata')}}"
            data-pagination="true"
            data-side-pagination="server"
            data-page-list="[10, 20, 50, 100, 200]"
            data-page-size = "10"
            data-show-columns="true"
            data-method="post"
            data-query-params="postQueryParams"
            data-sort-name="id"
            data-sort-order="desc"
            data-buttons-align='right'>
            <thead>
            <tr>
                <th data-field="id" data-sortable="true">ID</th>
                <th data-field="username" data-sortable="true" data-formatter="format_username">Username</th>
                <th data-field="nickname" data-sortable="true">Nick Name</th>
                <th data-field="is_superuser" data-sortable="true" data-formatter="format_issuperuser">Is Superuser</th>
                <th data-field="date_join" data-sortable="true" data-visible="false">Joined Date</th>
                <th data-field="deleted" data-sortable="true" data-formatter="format_delete">Deleted</th>
            </tr>
            </thead>
        </table>
     </div>
    </div>
    <div class="span6">
      <div class="control-group form-inline" style="text-align: left;">
        <table id="table2" data-toggle="table"
                data-toolbar="#tool-bar2"
                data-toolbar-align="left"
                data-pagination="true"
                data-side-pagination="client"
                data-page-list="[10, 20, 50, 100, 200]"
                data-page-size = "10"
                data-show-columns="true"
                data-sort-name="name"
                data-sort-order="desc"
                data-buttons-align='right'>
                <thead>
                <tr>
                    <th data-field="name" data-sortable="true" >Name</th>
                    <th data-field="surname" data-sortable="true" data-visible="false">Surname</th>
                    <th data-field="givenname" data-sortable="true" data-visible="false">Givename</th>
                    <th data-field="aliasname" data-sortable="true">Aliasname</th>
                    <th data-field="email" data-sortable="email" >Email</th>
                    <th data-field="isIn" data-sortable="true" data-formatter="format_op" >operation</th>
                </tr>
                </thead>
        </table>
      </div>
    </div>
  </div>
</div>
<div id ="tool-bar1" style="margin-left:8px">
    <h4>Database User</h4>
</div>
<div id ="tool-bar2" style="margin-left:8px">
    <div class="pull-left" style="margin-right:20px"><h4>Ldap User</h4></div>
    <div class="pull-left">
    <a class="btn" href="{{=url_for('shapps.auth.ldap_admin.views.LdapAdmin.addbatch')}}" title="AddBathButton">
       Add Batch <i class="glyphicon glyphicon-plus icon-plus"></i></a>
    </div>
</div>

<script type="text/javascript">
function format_username(value, row){
  link = '{{=url_for('shapps.auth.ldap_admin.views.LdapAdmin.view')}}?id='+ row.id
  link = '<a href="' + link + '">' + value +'</a>'
  return link
}

function format_issuperuser(value,row){
  rshtml = "";
  if(value){
     rshtml = ['<a  href="javascript:void(0)" title="'+value+'">',
                  '<i class="icon icon-ok"></i>',
                  '</a>  '
              ].join('');
  }else{
    rshtml="-";
  }
  return rshtml;
}

function format_delete(value,row){
  rshtml = "";
  if(value){
     rshtml = ['<a href="javascript:void(0)" title="has deleted">',
                  '<i class="icon icon-remove"></i>',
                  '</a>'
              ].join('');
  }else{
    rshtml="-";
  }
  return rshtml;
}

function format_op(value, row){
    rshtml = ""
    if(value){
      rshtml = ['<a class="btn sync" href="javascript:sync_user(\'sync\',\''+row.name+'\')" title="Sync">',
                '<i class="icon icon-retweet"></i>',
                '</a>  '
            ].join('');
    }else{
      rshtml = ['<a class="btn add" href="javascript:sync_user(\'add\',\''+row.name+'\')" title="Add">',
                '<i class="icon icon-plus"></i>',
                '</a>'
            ].join('');
    }
    return rshtml
}

function sync_user(type,username){
    $.ajax({
        type: "POST",
        url: "{{=url_for('shapps.auth.ldap_admin.views.LdapAdmin.api_sync_user')}}",
        data: {"username":username},
        dataType: "json",
        success: function(data){
            //avalon.log(data)
            if(data.errmsg==""){
              show_message(type+" success", 'success');
              query()
            }else{
              show_message(data.errmsg, 'error');
            }
        }
    });
}

function postQueryParams(params) {
    params['username'] = $("#sc_username").val()
    return params
}

$(document).ready(function(){
    $("input").bind('keydown',function(event){
      if(event && event.keyCode==13){
          query()
      }
    })
  
    $("#query").click(function(){
      query()
    })
})

function query(){
   username = $("#sc_username").val()
   if(username.length<3){
     show_message("请输入超过2个字符！", 'error');
     return
   }
   databaseQuery()
   ladpQuery()
}

function databaseQuery(){
  $('#table1').bootstrapTable('refresh', {resetOffset: true})
}

function ladpQuery(){
  $.ajax({
      type: "POST",
      contentType:"'application/json",
      url: "{{=url_for('shapps.auth.ldap_admin.views.LdapAdmin.api_get_ladp_userdata')}}",
      data: JSON.stringify({"username":$("#sc_username").val()}),
      dataType: "json",
      success: function(data){
          //avalon.log(data)
          if(data.desc){
            show_message(data.desc, 'error');
          }else{
            $('#table2').bootstrapTable('load', data.rows)
          }
      }
  });
}
</script>
{{end}}
